**/bin/
**/obj/
**/Debug/
**/Release/
artifacts/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.nupkg
*.snupkg
packages/

*.log
*.tlog
*.cache
*.tmp

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

node_modules/
wwwroot/lib/

TestResult*/
*.trx
*.coverage
*.coveragexml
